body {
    background-color: #A9B0F5;

}

#main-container {
    display: flex;
    flex-direction: row;
}


.card {
    padding: 10px 5px;
    margin: 0px 2px;
    border-radius: 10px;

    height: 100vh;
    animation-duration: 5s;
}

#first-card {
    background-color: #F5E4A9;
    width: 80vw;
}

#second-card {
    background-color: #F5A9AA;
    width: 10vw;
}

#third-card { 
    background-color: #A9F5BE;
    width: 10vw;
}

@keyframes width80to10 {
    from {width: 80vw;} 
    to {width: 10vw}
}
@keyframes width10to80 {
     from {width: 10vw} 
    to {width: 80vw;}
}



